* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgb(3, 10, 46) 0%, rgb(33, 78, 114) 52%, rgba(0,212,255,1) 100%);
}

h1 {
    display: inline-block;
    color: rgb(226, 253, 252);
    margin: 3rem 0 1rem 0;
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: 600;
    font-size: 1.7rem;
    text-shadow: 2px 2px 5px rgb(5, 5, 5);
}

.choice {
    height: 240px;
    width: 240px;
    margin-top: 2em;
}

.choice:hover {
    opacity: 0.5;
    cursor: pointer;
}

img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    padding: 0.4rem;
    border-radius: 50%;
    border: 3px solid rgb(138, 235, 232);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
}

.score-board {
    color: rgb(226, 253, 252);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-top: 2rem;
    gap: 5rem;
    text-shadow: 2px 2px 5px rgb(5, 5, 5);

}

#user-score, #comp-score {
    font-size: 2.5rem;
}

.msg-container {
    margin-top: 2rem;
}

#msg {
    background-color: rgb(255, 179, 0);
    display: inline;
    font-size: 1.1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: rgb(5, 3, 25);
    border-radius: 1rem;
    font-weight: 600;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}
